#cartContent
{
    height: 700px;
    width: 100%;
    border: 1px solid transparent;
    
}
#segment1Container
{
    height: 50px;
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items:end;
    border: 1px solid transparent;
    position: relative;
    right: 150px;
    
}
.circles
{
    height: 5px;
    width: 5px;
    background-color: #2b4051;
    border-radius: 50%;
    padding: 15px;
    /* margin: 20px; */
}
.circles:nth-child(3)
{
    background-color: #bbb;
}
.circles:nth-child(5)
{
    background-color: #bbb;
}
#line
{
    height:100% ;
    width: 35%;
    border: 1px solid transparent;
}
#line>div{
    
    width: 99%;
    height: 0.1px;
    border: 1px solid #bbb;
    position: relative;
    top: 32px;
    display: flex;
    justify-content: center;

}
.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
.img1
{
    height: 120px;
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}
.img1>img{
    height: 100%;
    width: 100%;
}
#message
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 18px;
}
button
{
    border: none;
    padding: 15px 40px 15px 40px;
    color: white;
    background-color: #d5a248;
    /* border: none; */
    cursor: pointer;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
  position: relative;
  left: 575px;
  bottom: 40px;
}